LogicLayer/Web References/ExcelWebServices/excelreaderwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExcelToDataTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="excelFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcelToDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcelToDataTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExcelToDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:ExcelToDataTable" />
  </wsdl:message>
  <wsdl:message name="ExcelToDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:ExcelToDataTableResponse" />
  </wsdl:message>
  <wsdl:portType name="ExcelReaderWebServiceSoap">
    <wsdl:operation name="ExcelToDataTable">
      <wsdl:input message="tns:ExcelToDataTableSoapIn" />
      <wsdl:output message="tns:ExcelToDataTableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExcelReaderWebServiceSoap" type="tns:ExcelReaderWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExcelToDataTable">
      <soap:operation soapAction="http://tempuri.org/ExcelToDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelReaderWebServiceSoap12" type="tns:ExcelReaderWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExcelToDataTable">
      <soap12:operation soapAction="http://tempuri.org/ExcelToDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExcelReaderWebService">
    <wsdl:port name="ExcelReaderWebServiceSoap" binding="tns:ExcelReaderWebServiceSoap">
      <soap:address location="http://localhost/excelreader/excelreaderwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelReaderWebServiceSoap12" binding="tns:ExcelReaderWebServiceSoap12">
      <soap12:address location="http://localhost/excelreader/excelreaderwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>